In [9]:
MAX=12
k=0
for i in range(1,MAX+1,1):
  k=k+i**2
  print(k,'\n')

1

5

14

30

55

91

140

204

285

385

506

650