In [7]:
MAX=12
k=0
for n in range(1,MAX,1):
  for i in range(1,n+1,1):
    k=k+i
  k=k+n
  print(k,'\n')

2

7

16

30

50

77

112

156

210

275

352